@font-face {
  font-family: "myriad-pro-regular";
  src: url("../fonts/myriad-pro-regular/myriad-pro-regular.eot");
  src: url("../fonts/myriad-pro-regular/myriad-pro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriad-pro-regular/myriad-pro-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "myriadprobold";
  src: url("../fonts/myriadprobold/myriadprobold.eot");
  src: url("../fonts/myriadprobold/myriadprobold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadprobold/myriadprobold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "mtcorsva";
  src: url("../fonts/mtcorsva/mtcorsva.eot");
  src: url("../fonts/mtcorsva/mtcorsva.eot?#iefix") format("embedded-opentype"), url("../fonts/mtcorsva/mtcorsva.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "cooper-black";
  src: url("../fonts/cooper-black/cooper-black.eot");
  src: url("../fonts/cooper-black/cooper-black.eot?#iefix") format("embedded-opentype"), url("../fonts/cooper-black/cooper-black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*Cooper Black Regular */
/*Myriad Pro Regular */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eeddcc;
}
a:hover {
  text-decoration: underline;
  color: #eeddcc;
}
a:focus {
  outline: none;
}

input:focus, input:hover {
  outline: none;
}

li {
  list-style-type: none;
}
li:focus {
  outline: none;
}

h1, h2 {
  padding: 50px 0;
  font-size: 45px;
  color: #eeddcc;
  text-align: center;
}

body {
  background-color: #eeddcc;
  font-family: "myriad-pro-regular", sans-serif;
  font-size: 10px;
  line-height: 1.4;
  position: relative;
}

.section-wood {
  background-image: url(../img/bg_wood.jpg);
  background-size: cover;
}

button, .button {
  background-color: #3f5f10;
  color: #eeddcc;
  font-size: 16.5px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #2e450c;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
button:hover, .button:hover {
  background-color: #4d7514;
}
button:focus, .button:focus {
  background-color: #31490c;
  outline: none;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens*/
/* Medium Devices, Desktops*/
@media screen and (max-width: 992px) {
  body .header-right_nav li a {
    font-size: 1rem;
  }
  body .header-right_content .circles {
    margin: 0;
  }
  body .header-right_content .circles .circle {
    width: 4.3rem;
    height: 4.3rem;
    font-size: 2.2rem;
    line-height: 1.8;
  }
  body .header-right_content .circles .circle .delivery-activ {
    font-size: 0.8rem;
  }
  body .header-right_content .tel-top {
    margin: 0 15px;
  }
}
/* Small Devices, Tablets*/
@media screen and (max-width: 767px) {
  body .header-right_nav {
    display: none;
  }
  body .toggle-menu {
    display: block;
  }
  body .header-right_content {
    flex-direction: column;
  }
  body .header-right_content .circles, body .header-right_content .tel-top {
    margin: auto;
  }
  body .header-right_content .contact-icon {
    display: none;
  }
  body .header-right_form {
    margin: auto;
  }
}
/* Extra Small Devices, Phones*/
/* Custom, iPhone Retina*/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina*/
/* Extra Small Devices, Phones*/
/* Small Devices, Tablets*/
/* Medium Devices, Desktops*/
/* Large Devices, Wide Screens*/
.header-left {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.header-left img {
  width: 90%;
  max-width: 270px;
  padding: 30px 0;
}
.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-right_nav_ul {
  display: flex;
  justify-content: flex-end;
}
.header-right_nav_ul li {
  margin: 10px 20px 0;
}
.header-right_nav_ul li a {
  color: #453d3d;
  font-family: "myriad-pro-regular", sans-serif;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.header-right_nav_ul li a::after {
  content: "";
  display: block;
  background: #73151f;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.header-right_nav_ul li a:hover {
  text-decoration: none;
  color: #73151f;
}
.header-right_nav_ul li a:hover::after {
  transform: scaleX(1);
}
.header-right .toggle {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -175px;
  left: 0;
  background-color: #73151f;
  transition: all 0.3s ease;
}
.header-right .toggle ul {
  margin-top: 70px;
  display: block;
  text-align: center;
}
.header-right .toggle ul li {
  margin: 25px 0;
  padding: 3px 0;
  transition: all 0.1s ease;
}
.header-right .toggle ul li:hover {
  background-color: #eeddcc;
}
.header-right .toggle ul li a {
  color: #eeddcc;
  display: block;
  transition: all 0.1s ease;
}
.header-right .toggle ul li a:hover {
  color: #73151f;
}
.header-right_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header-right_content .circles {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
}
.header-right_content .circles .circle {
  margin: 0 10px;
  border: 2px solid #73151f;
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
  color: #73151f;
  text-align: center;
  font-size: 2.2rem;
  font-family: "cooper-black", sans-serif;
  font-weight: bold;
  line-height: 1.9;
  transition: all 0.2s ease;
}
.header-right_content .circles .circle:hover {
  background-color: #73151f;
  transform: scale(1.1, 1.1);
}
.header-right_content .circles .circle .new {
  font-size: 1.3rem;
  color: #73151f;
}
.header-right_content .circles .circle .discounts {
  color: #73151f;
}
.header-right_content .circles .circle .new-activ, .header-right_content .circles .circle .discounts-activ, .header-right_content .circles .circle .delivery-activ {
  display: inline-block;
  font-size: 0.85rem;
  line-height: 1.5;
  vertical-align: middle;
  font-family: "myriad-pro-regular", sans-serif;
  font-weight: normal;
}
.header-right_content .circles .circle .new-activ:hover, .header-right_content .circles .circle .discounts-activ:hover, .header-right_content .circles .circle .delivery-activ:hover {
  text-decoration: none;
  color: #eeddcc;
}
.header-right_content .circles .circle .delivery img {
  width: 60px;
  height: auto;
}
.header-right_content .tel-top {
  margin: 0 30px;
}
.header-right_content .tel-top .tel-top_wrap {
  font-size: 1.7rem;
  font-weight: bold;
  color: #73151f;
  display: flex;
}
.header-right_content .tel-top .tel-top_wrap span {
  font-size: 1.2rem;
  margin: auto;
  padding-right: 10px;
}
.header-right_content .contact-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-right_content .contact-icon a {
  margin: auto;
}
.header-right_content .contact-icon a .fa {
  color: #453d3d;
  transition: all 0.3s ease;
}
.header-right_content .contact-icon a .fa:hover {
  transform: translateX(5px);
  color: #73151f;
}
.header-right_content .contact-icon a .fa-mobile {
  font-size: 40px;
}
.header-right_content .contact-icon a .fa-envelope {
  font-size: 28px;
}
.header-right_form {
  display: flex;
  justify-content: flex-end;
}
.header-right_form input {
  min-width: 200px;
  max-height: 30px;
  background-color: #eeddcc;
  color: #453d3d;
  padding-left: 5px;
  margin: 5px 0;
  border: 1px solid #bea18e;
  transition: all 0.3s ease;
}
.header-right_form input::-webkit-input-placeholder {
  font-family: "myriad-pro-regular", sans-serif;
  color: #73151f;
}
.header-right_form input:hover {
  box-shadow: inset 0 0 5px rgba(170, 145, 130, 0.6);
}
.header-right_form .button {
  font-size: 13.5px;
  padding: 5px 10px;
  margin: 5px 0 5px 10px;
}

/*MOBILE MENU TOGGLE BUTTON*/
.toggle-menu {
  display: none;
  width: 28px;
  height: 28px;
  top: 25px;
  right: 25px;
  position: absolute;
  z-index: 6;
}
.toggle-menu span {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #453d3d;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-menu span:after, .toggle-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-menu span:after {
  top: 18px;
  width: 100%;
  height: 3px;
  background-color: #453d3d;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-menu span:before {
  width: 100%;
  height: 3px;
  background-color: #453d3d;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-menu.on span {
  background-color: transparent;
}
.toggle-menu.on span:before {
  transform: rotate(45deg) translate(-1px, 0px);
  background-color: #eeddcc;
}
.toggle-menu.on span:after {
  transform: rotate(-45deg) translate(6px, -7px);
  background-color: #eeddcc;
}

/*MOBILE MENU TOGGLE BUTTON - END*/

/*# sourceMappingURL=style.css.map */
