
* 
	margin: 0
	padding: 0
a 
	text-decoration: none
	color: $light
	&:hover
		text-decoration: none
		color: darken($light, 10%)
	&:focus
		outline: none
input
	&:focus, &:hover
		outline: none
li 
	list-style-type: none
	&:focus
		outline: none
h1, h2 
	padding: 15px 0
	font-size: 2.2rem
	text-align: center
h3
	font-size: 1.5rem
body
	background-color: $light
	font-family: 'myriad-pro-regular', sans-serif
	font-size: 16px
	line-height: 1.4
	position: relative
	color: $gray
	
.section-wood 
	background-image: url(../img/bg_wood.jpg)
	background-size: cover
	h2
		color: $red
.section-red
	background-color: $red
	color: $light
	border-bottom: 1px solid $light

button, .button
	background-color: $green
	color: $light
	font-size: 22px*$em
	border-radius: 5px
	border: none
	border-bottom: 1px solid darken($green, 6%)
	padding: 10px 20px
	transition: $trs 
	&:hover 
		background-color: lighten($green, 5%)
	&:focus
		background-color: darken($green, 5%)
		outline: none

